@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&display=swap');

* {
    font-family: /*'Plus Jakarta Sans'*/ sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

ul {
    display: flex;
    gap: 15px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.header, .hero, .footer {
    background-color: #1f2937;
}

.header, .hero, .container {
    padding: 12px 15% 100px;
}

.hero {
    display: flex;
    gap: 60px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #f9faf8;
}

.hero-main {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.hero-secondary, a, .footer {
    font-size: 18px;
    color: #e5e7eb;
}

.hero-secondary {
    margin: 12px 0;
}

.hero-left {
    flex: 1;
}

a {
    text-decoration: none;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    font-weight: 550;
    font-size: 20px;
    padding: 8px 32px;
}

#hero-image {
    background-color: rgb(112, 112, 112);
    color: white;
    height: 250px;
    width: 100px;
    flex: 1 1 auto;
}

.container {
    text-align: center;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #1f2937
}

.cards {
    color:rgb(84, 83, 83);
    display: flex;
    gap: 5%;
    justify-content: center;
}

.card {
    width: 150px;
    text-align: center;
}

.card-image {
    width: 140px;
    height: 140px;
    border: solid #3882f6;
    border-radius: 15px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image #planet-image {
    width: 100%;
}

.card-image img {
    width: 90%;
    height: 90%;
}



.footer {
    padding: 32px 0;
    text-align: center;
}